body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding: 0;
}

header {
    grid-area: header;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}


main {
    grid-area: main;
    display: grid;
    gap: 30px;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    margin-top: 10px;
}

footer ul {
    display: flex;
    justify-content: space-around;
}

li {
    text-decoration: underline;
}

p {
    padding: 60px 10px;
    border: 1px solid;
    background-color: white;

 }

 h2 {
    background-color: white;
    border: solid #a5a3a3;
    font-size: larger;  
 }

 h3 {
    background-color: white;
    border: solid #a5a3a3;
    font-size: smaller;
 }

 /* Dark mode styles */
.dark main {
    background-color: #333333; 
}

.dark p {
    background-color: #333333;
    color: #ffffff; 
}

.dark h2, .dark h3 {
    background-color: #333333;
    color: #ffffff; 
}

.dark footer {
    margin-top: 0;
}