body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding: 0;
}

header {
    grid-area: header;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

 section {
    padding: 20px;
    border: 2px solid #a5a3a3;
    margin-left: 20px;
    margin-right: 10px;
 }

 label {
    font-weight: bold;
 }

 input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    height: 45px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    max-width: 100%;
    padding: 8px 8px 8px 8px;
    transition-delay: 0s, 0s;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease, ease;
    width: 100%;
  }


.inputContent {
    padding: 60px 10px;   
    vertical-align: top;
}

h2 {
    text-align: center;
    background-color: #333;
    padding: 80px;
    display: inline-block; 
    border-radius: 20px; 
    margin: 20px;
    color: white;
}

button {
    grid-column: 2; 
    margin: 10px auto; 
    padding: 5px 20px; 
    font-size: 16px;
    position: relative;
    top: -100px;
}