* {
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
    width: 100%;
  }
  
  body {
    min-height: 100%;
    line-height: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(243, 239, 233);
  }

  button {
    background-color: rgb(203, 199, 199);
    box-shadow: 1px 1px;
    font-weight: bold;
  }
  
  ul {
    list-style: none;S
  }
  